*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    /* width: 100vw;
    height: 100vh; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-cantainer{
  width: 100vw;
    height: 100vh;

    /* background-image: linear-gradient(170deg,rgba(255, 0, 0, 0) ,pink, aqua);
     */
     background-image: linear-gradient(170deg, #ffd8d84f, #dbc7c7a5, #affcff, #77f3f700)
}
.box{
    /* padding: 100px ; */
    position: relative;
    top: 200px;
    height: 400px;
    width: 800px;
    background-color: #fff;
    left: 400px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 5px black ;


}

h3{
    color: rgb(255, 166, 0);
    font-weight: bolder;
    padding: 30px 0px;
    font-size: 50px;
    text-shadow: 3px 4px 5px black;
}

h1{
    padding-top: 10px;
    text-shadow:  3px 3px 0px #fff;
    font-size: 120px;
    padding-bottom: 40px;
    color: orange;
}

button{
    padding: 20px 40px;
    margin-left: 10px;
    border: none;
    background-color: orange;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}